<div class="p-8 grid grid-cols-2 gap-4">
    
    <!-- <input type="text" pInputText [value]="Inputdatas()" (input)="Inputdatas.set($event.target.value)" /> -->
    <!-- <input type="text" pInputText [value]="Inputdatas()" (input)="Inputdatas.set($event.target.value)" /> -->
    <!-- <input [Inputdatas] (input)="Inputdatas.set('value')" type="text" /> -->


    <!-- {{Inputdatas()}} -->


    @for(product of products(); track product.id){
        <div>
            <app-product-card [product]="product"></app-product-card>
        </div>

    }
</div>