<div class="">
    <div class="card">
        <p-toolbar styleClass="mb-3">
            <ng-template #start>
                <p-button (click)="showNewBtnDialog()" size="small" label="New" icon="pi pi-plus" class="mr-2" styleClass="bg-violet-600 border-0 hover:bg-violet-800"/>
                <p-dialog [(visible)]="NewBtnDialog" [modal]="true" header="Create New Workstation" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                    <h1 class="font-semibold pb-1">Wokrstation Details:</h1>
                    <div class="flex flex-row gap-4 mb-4">
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="ID">Workstation ID:</label>
                            <input pSize="small" pInputText id="id" [(ngModel)]="workstation.id">
                        </div>
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="Name">Name:</label>
                            <input pSize="small" pInputText id="name" [(ngModel)]="workstation.name"/>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4 mb-4">
                    <div class="flex flex-col gap-2 basis-1/2">
                        <label for="Capacity">Capacity:</label>
                        <p-inputnumber size="small" inputId="capacity" suffix=" pax max" [min]="1" [(ngModel)]="workstation.capacity" />
                    </div>

                    <div class="flex flex-col gap-2 basis-1/2">
                        <label for="Capacity">Features:</label>
                        <div class="card flex justify-center">
                            <p-multiselect size="small" [options]="Features" [(ngModel)]="workstation.features"  placeholder="Select Features" styleClass="w-full" optionLabel="name" [maxSelectedLabels]="2">
                            <ng-template #footer>
                                <div class="p-3 flex justify-between">
                                    <p-button label="Add New" severity="secondary" text size="small" icon="pi pi-plus" />
                                </div>
                            </ng-template>
                        </p-multiselect>
                        </div>
                    </div>
                    </div>

                    <h1 class="font-semibold pb-1">Location:</h1>
                    <div class="flex flex-row gap-4 mb-4">
                        <div class="flex flex-col gap-2 basis-1/3">
                            <label for="ID">Block:</label>
                            <input pSize="small" pInputText id="block" [(ngModel)]="workstation.block"/>
                        </div>
                        <div class="flex flex-col gap-2 basis-1/3">
                            <label for="Name">Level:</label>
                            <input pSize="small" pInputText id="level" [(ngModel)]="workstation.level"/>
                        </div>
                        <div class="flex flex-col gap-2 basis-1/3">
                            <label for="Name">Room Code:</label>
                            <input pSize="small" pInputText id="roomCode" [(ngModel)]="workstation.roomCode"/>
                        </div>
                    </div>

                    <h1 class="font-semibold pb-1">Tags:</h1>
                    <div class="flex flex-row gap-4 mb-4">
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="ID">Type:</label>
                            <div class="card flex justify-center">
                                <p-select size="small" [options]="Type" [(ngModel)]="workstation.type" placeholder="Select Type" styleClass="w-full" optionLabel="name">
                                    <ng-template #footer>
                                        <div class="p-3 flex justify-between">
                                            <p-button label="Add New" severity="secondary" text size="small" icon="pi pi-plus" />
                                        </div>
                                    </ng-template>
                                </p-select> 
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="Name">Access:</label>
                            <p-multiselect size="small" [options]="Access" [(ngModel)]="workstation.access" placeholder="Select Access" styleClass="w-full" optionLabel="name" [maxSelectedLabels]="2">
                                <ng-template #footer>
                                    <div class="p-3 flex justify-between">
                                        <p-button label="Add New" severity="secondary" text size="small" icon="pi pi-plus" />
                                    </div>
                                </ng-template>
                            </p-multiselect>
                            </div>
                    </div>

                    <h1 class="font-semibold pb-1">Policies:</h1>
                    <div class="flex flex-row gap-4 mb-4">
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="ID">Booking Policies:</label>
                            <p-multiselect size="small" [options]="Policy" [(ngModel)]="workstation.policy" placeholder="Select Cities" styleClass="w-full" optionLabel="name" [maxSelectedLabels]="2">
                                <ng-template #footer>
                                    <div class="p-3 flex justify-between">
                                        <p-button label="Add New" severity="secondary" text size="small" icon="pi pi-plus" />
                                    </div>
                                </ng-template>
                            </p-multiselect>                        </div>
                        <div class="flex flex-col gap-2 basis-1/2">
                            <label for="Name">Availability: {{Enum_AvailabilitySelected | json}}</label>
                            <p-select size="small" optionLabel="name" [options]="Enum_Availability" [(ngModel)]="workstation.availability" placeholder="Select Availability" styleClass="w-full" optionLabel="name">
                                <ng-template #footer>
                                    <div class="p-3 flex justify-between">
                                        <p-button label="Add New" severity="secondary" text size="small" icon="pi pi-plus" />
                                    </div>
                                </ng-template>
                            </p-select>
                        </div>
                    </div>

                    <div class="card flex flex-col gap-6 items-center justify-center">
                        <p-toast />
                        <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"  />
                        <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
                    </div>
                    
                    
                    
                    <ng-template #footer>
                        <p-button label="Cancel" [text]="true" severity="secondary" (click)="NewBtnDialog = false" />
                        <p-button label="Save" [outlined]="true" severity="secondary" (click)="NewBtnDialog = false" />
                    </ng-template>

                    {{workstation|json}}
                </p-dialog>
                <!-- <p-button size="small" severity="danger" label="Delete" icon="pi pi-trash" outlined/> -->
            </ng-template>
        
            <ng-template #end>
                <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" /> -->
                <!-- <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV($event)" /> -->
            </ng-template>
        </p-toolbar>
        

        <p-table showGridlines [value]="product" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
