<div class="card flex justify-center">
    <p-dialog header='{{dialogHeader}}' [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <!-- <span class="p-text-secondary block mb-8">Update your information.</span> -->
         <form [formGroup]="form">
            @for (f of fields; track $index) {
                <div class="flex items-center gap-4 mb-4">
                    <label [for]="f.name" class="font-semibold w-24" >{{f.name}} </label>
                    <input pInputText="f.type" [type]="f.type" [formControlName]="f.label" id="f.label" class="flex-auto " autocomplete="off"/>

                </div>

            }
        </form>
    
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="submitForm()" />
        </div>  
    </p-dialog>
</div>