<!-- <div class="flex flex-row justify-stretch justify-items-center"> -->
<div class="container">


    <div class="grid grid-cols-3 gap-2 w-full pb-5">

        <div class="w-full h-auto">
            
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-violet-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <p class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Workstation Management</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">Overview of Workstation</p>
            </a>
        
        </div>

        <div class="w-full h-auto">
            
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-violet-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Policy Management</p>
            <p class="font-normal text-gray-700 dark:text-gray-400">Booking policy configuration</p>
            </a>
        
        </div>

        <div class="w-full h-auto">
            
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-violet-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Maintenance </p>
            <p class="font-normal text-gray-700 dark:text-gray-400">Workstation maintenance request</p>
            </a>
        
        </div>

    </div>

<app-create-workstation-form/>
</div>
